.component {
  width: 109.5rem;

  display: grid;
  grid-template-rows: repeat(2, 27rem);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  @media (max-width: 1133px) {
    height: 100%;
    width: 375px;

    grid-template-rows: 40rem 22rem 22rem 36rem 40rem;
    grid-template-columns: 350px;
  }

  &__card {
    padding: 3rem;
    padding-top: 2rem;
    padding-right: 4rem;

    border-radius: 1rem;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.295);

    @media (max-width: 1133px) {
      width: 350px;
    }

    &--top {
      display: flex;
      align-items: center;
    }

    .top__img {
      margin-right: 1.5rem;

      &--photo {
        height: 4rem;
        width: 4rem;

        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.5);
      }
    }

    .top__info {
      &--name {
        font-size: 1.5rem;
        color: white;
      }

      &--status {
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .mid__text {
      font-size: 2rem;

      position: relative;
      z-index: 10;
    }

    .bot__text {
      font-size: 1.3rem;
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.3;
    }
  }
}

.quotes {
  position: absolute;
  top: 0;
  right: 10rem;

  z-index: 5;

  @media (max-width: 1133px) {
    right: 2rem;
  }
}

////////////////////////////////////////////////////////////////////////////////////
//CARDS
.card-1 {
  grid-row: 1/2;
  grid-column: 1/3;

  background-color: var(--color-primary-moderate-violet);

  padding-top: 2rem;
  padding-right: 3rem;

  position: relative;

  @media (max-width: 1133px) {
    padding-right: 3rem;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.card-2 {
  grid-row: 1/2;
  grid-column: 3/4;

  background-color: var(--color-primary-very-dark-grayish-blue);
  padding-top: 2rem;

  @media (max-width: 1133px) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.card-3 {
  grid-row: 2/3;
  grid-column: 1/2;

  background-color: white;
  padding-right: 5rem;

  @media (max-width: 1133px) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

.card-4 {
  grid-row: 2/3;
  grid-column: 2/4;

  background-color: var(--color-primary-very-dark-blackish-blue);

  @media (max-width: 1133px) {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

.card-5 {
  grid-row: 1/3;
  grid-column: 4/5;

  background-color: white;

  @media (max-width: 1133px) {
    grid-row: 5/6;
    grid-column: 1/2;
  }
}
